section(title='Introduction')

    //- Introduce topic
    //- Background
    //- Problem
    //- Objectives
    //- Map

    p L'identité sonore d'un violon — si tant est qu'elle existe — résulte-t-elle principalement des caractéristiques de l'instrument ou bien est-elle influencée par la façon de jouer de l'instrumentiste ?

    p Il existe différentes façons de caractériser le son d'un violon : certaines études #{cite('buen2006', 'gonzalez2021')} ont essayé de le décrire à partir des paramètres de construction de l'instrument, d'autres #{cite('jansson1997')} à partir de mesures acoustiques (admittance au chevalet, mesures de rayonnement). Il est aussi possible de le faire via une analyse d'enregistrements audio #{cite('charles2008')}, ou en demandant leur avis à des violonistes #{cite('fritz2014a')}. Dans les deux premiers cas, il n'y pas de prise en compte de l'interprète, qui est pourtant à l'origine du son. 
        
    p Ceci explique peut-être pourquoi il est difficile de corréler mesures acoustiques et données perceptives.

        //- Un violon peut être caractérisé par ses paramètres de construction mais aussi par des mesures acoustiques telles que l'admittance au chevalet et des mesures de rayonnement. Dans les deux cas, il n'y pas de prise en compte de l'interprète, alors que c'est lui ou elle qui crée le son. Ceci explique peut-être pourquoi il est difficile de corréler ces mesures acoustiques avec les évaluations perceptives des interprètes d'une part (ref ;..) mais aussi avec des enregistrements réalisés en situation de jeu d'autre , qui montrent une grande variabilité d'un musicien à l'autre (rapport de Victor stage).

        //- Il faut aussi parler de la litterature qui s'est interessée à classifier des violons ... toujours enregistrés avec un seul musicien -> non
        
        //- Ces dernières ont déjà été utilisées pour juger de la qualité d'un instrument #{cite('malvermi2022')} [à compléter] voire pour en simuler le son (réf : Claudia ?). Par ailleurs, de nombreuses études se sont intéressées à la perception des violonistes, notamment au vocabulaire employé afin de noter différents instruments.

        //-Il reste cependant difficile de corréler les mesures acoustiques (sans violonistes) avec . Ceci explique peut-être pourquoi les nombreuses études ayant essayé de corréler ces mesures avec les qualités perçues par les instrumentistes se sont souvent révélées infructueuses [réf ?]. 

        //- Il reste cependant difficile de corréler les mesures acoustiques (sans violonistes) avec les qualités perçues par les instrumentistes. 
        
    p Se posent alors les questions suivantes : un violon a-t-il une identité sonore propre ? Quelle est l'influence des violonistes sur le son produit ? Est-il possible de dissocier le son d'un violon du son produit par un⋅e violoniste ? Comment prendre en compte le facteur humain dans la caractérisation d'un violon ?

    p La suite de ce rapport est structurée de la manière suivante : tout d'abord, nous étudierons l'influence de certains paramètres de jeu sur le son produit. Ensuite, nous montrerons que malgré cette influence, il semble possible d'identifier des violons par leur son en condition de jeu. Enfin, nous nous demanderons si cette identité sonore peut évoluer au fur et à mesure qu'un violon est joué.
    
    //- j'identifierai des corrélations entre des paramètres de jeu du violon et certains descripteurs audio. Ensuite, je me concentrerai sur le problème de l'identification de violon par leur son. Enfin, je présenterai une expérience en cours au CNSMDP visant à mettre en évidence l'influence du jeu sur un instrument.